@import '../../styles/mixins';

.filtersBlock {
  padding: 20px;

  width: 100%;

  box-sizing: border-box;

  border-top: 1px solid rgba(182, 180, 182, 0.93);
}

.btnSort {
  width: 100%;
  height: 24px;

  border: none;
  outline: none;

  background-color: transparent;

  cursor: pointer;

  box-sizing: border-box;
}

.active {
  border-radius: 8px;
  border: 1px solid rgba(80, 76, 80, 0.4);
}

.sortBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.count {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  font-size: 16px;
}

.animated {
  animation: swap 1s ease-in-out;
}

@include desktop-width {
  .filtersBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .count {
    width: 100%;
  }

  .sortBlock {
    width: 100%;
  }

  .clear {
    width: 100%;

    text-align: end;
  }
}

@include mobile-width {
  .filtersBlock {
    display: grid;
    grid-row-gap: 20px;
  }

  .count {
    grid-column: 1/1;
    grid-row: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sortBlock {
    width: 100%;

    grid-row: 2/2;
    grid-column: 1 / span 2;
  }

  .clear {
    grid-row: 1/1;
    grid-column: 2/2;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes swap {
  0% {
    translate: 0 -100%;

    opacity: 0;
  }

  100% {
    translate: 0;

    opacity: 1;
  }
}
